<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form th:action th:object="${member}" method="post">
        <span>ID: </span><input type="text" th:field="*{memberId}"><br>
        <span>PW: </span><input type="password" id="memberPw" name="memberPw"><br>
        <span>AGE: </span><input type="text" th:field="*{memberAge}"><br>
        <button type="submit">로그인</button>
        <button type="button">회원가입</button>
    </form>
</body>
</html>