<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form th:action th:object="${loginForm}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <div th:each="error : ${#fields.globalErrors()}" th:text="${error}"></div>
        </div>

        <span>ID: </span><input type="text" th:field="*{memberId}"><br>
        <span>PW: </span><input type="password" id="memberPw" name="memberPw"><br>
        <button type="submit">로그인</button>
        <button type="button" th:onclick="location.href='/'">닫기</button>
    </form>
</body>
</html>